.img-thumbnail {
    display: inline-block;
    height: 400px;
    padding: 8px;
    line-height: 1.42857143;
    background-color: white;
    border: 10px solid #eee;
    border-radius: 65px;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

img.cute-img {
    height: 130px;
    width: 100%;
}

